Jaro-Distance considers the length of strings, the number of matching characters and the number of transpositions

In [4]:
import logging

import jellyfish
import pandas as pd
import numpy as np

logger = logging.getLogger(__name__)

In [5]:
df_dbpedia = pd.read_csv("./files/dbpedia_classes.csv")
df_imageNet = pd.read_csv("./files/ImageNet.csv")
df_imageNet['Class Name'] = df_imageNet['Class Name'].str.replace(", ",",")
df_imageNet['Class Name'] = df_imageNet['Class Name'].str.split(",")

In [6]:
def get_jaro_similarity():
    max_ratio_list = []
    max_label_list = []
    for class_list in df_imageNet['Class Name']:
        max_val = 0
        max_label = ''
        for item in class_list:
            for label in df_dbpedia['label']:
                if max_val< jellyfish.jaro_winkler_similarity(item, label):
                    max_val = jellyfish.jaro_winkler_similarity(item, label)
                    max_label = label
        max_ratio_list.append(max_val)
        max_label_list.append(max_label)
        
    df_imageNet['jaro_similarity'] = max_ratio_list
    df_imageNet['dbpedia_class'] = max_label_list
    df_imageNet.rename(columns = {"Class Name":"imageNet_class"}, inplace=True)
            
get_jaro_similarity()

In [7]:
df_imageNet

,Class ID,imageNet_class,jaro_similarity,dbpedia_class
0,0,"[tench, Tinca tinca]",0.790000,tenure
1,1,"[goldfish, Carassius auratus]",0.693182,golf course
2,2,"[great white shark, white shark, man-eater, ma...",0.844444,man
3,3,"[tiger shark, Galeocerdo cuvieri]",0.762756,figure skater
4,4,"[hammerhead, hammerhead shark]",0.777778,camera
...,...,...,...,...
995,995,[earthstar],0.853333,earthquake
996,996,"[hen-of-the-woods, hen of the woods, Polyporus...",0.715278,island
997,997,[bolete],0.800000,bone
998,998,"[ear, spike, capitulum]",0.916667,year
999,999,"[toilet tissue, toilet paper, bathroom tissue]",0.766026,tennis player

Lets look at the number of classes with a distance score equal to 100

In [8]:
result =  df_imageNet[df_imageNet['jaro_similarity' ]== 1.0]
result

,Class ID,imageNet_class,jaro_similarity,dbpedia_class
134,134,"[crane, bird]",1.0,bird
242,242,[boxer],1.0,boxer
286,286,"[cougar, puma, catamount, mountain lion, paint...",1.0,painter
323,323,"[monarch, monarch butterfly, milkweed butterfl...",1.0,monarch
408,408,"[amphibian, amphibious vehicle]",1.0,amphibian
437,437,"[beacon, lighthouse, beacon light, pharos]",1.0,lighthouse
483,483,[castle],1.0,castle
487,487,"[cellular telephone, cellular phone, cellphone...",1.0,mobile phone
497,497,"[church, church building]",1.0,church
525,525,"[dam, dike, dyke]",1.0,dam
553,553,"[file, file cabinet, filing cabinet]",1.0,file
624,624,[library],1.0,library
663,663,[monastery],1.0,monastery
668,668,[mosque],1.0,mosque
687,687,"[organ, pipe organ]",1.0,organ
705,705,"[passenger car, coach, carriage]",1.0,coach
743,743,"[prison, prison house]",1.0,prison
762,762,"[restaurant, eating house, eating place, eatery]",1.0,restaurant
812,812,[space shuttle],1.0,space shuttle
829,829,"[streetcar, tram, tramcar, trolley, trolley car]",1.0,streetcar
916,916,"[web site, website, internet site, site]",1.0,website
979,979,"[valley, vale]",1.0,valley
980,980,[volcano],1.0,volcano
981,981,"[ballplayer, baseball player]",1.0,baseball player

In [9]:
print(result.shape)

(24, 4)

Lets look at the number of classes with a distance score higher than 0.9

result =  df_imageNet[df_imageNet['jaro_winkler_distance' ] > 0.9]
result

Lets look at the number of classes with a distance score higher than 0.8

In [10]:
result =  df_imageNet[df_imageNet['jaro_similarity' ] > 0.8]
result

KeyError: 'jaro_winkler_distance'

Lets look at the number of classes with a distance score higher than 0.7

In [ ]:
result =  df_imageNet[df_imageNet['jaro_similarity' ] > 0.7]
result